@charset "UTF-8";
@use "./mixin" as *;

:root {
  // font family
  --ff_main: "M PLUS Rounded 1c", "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "Hiragino Sans", meiryo, sans-serif;
  --ff_corp: "corporate";
  --ff_vag: "vag";
  // color
  --color_dark: #000000;
  --color_light: #ffffff;
  --color_sky: #0cc6de;
  --color_sky_light: #94ddec;
  --color_sky_light2: #a4dceb;
  --color_sky_dark: #0c94b3;
  --color_bl: #0941a3;
  --color_gr: #5dca3c;
  --color_yw: #fed100;
  --color_yw2: #f4e39b;

  // font size
  --fz_xs: 12px;
  --fz_sm: 14px;
  --fz_md: 16px;
  --fz_lg: 18px;
  --fz_xl: 20px;

  // line height
  --lh_xs: 1.25;
  --lh_sm: 1.5;
  --lh_md: 1.75;
  --lh_lg: 2;

  // font weight
  --fw_r: 400;
  --fw_b: 900;

  @include break(lg) {
    --fz_xs: 10px;
    --fz_sm: 12px;
    --fz_md: 14px;
    --fz_lg: 16px;
    --fz_xl: 18px;
    --lh_xs: 1.2;
    --lh_sm: 1.4;
    --lh_md: 1.6;
    --lh_lg: 1.8;
  }
}
